<section class="d-flex flex-wrap align-content-center">
  <h2>
    Add a New post
  </h2>

  <form class="add-form">
    <div class="p-2">
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div class="p-2">
      <label for="post-content">Content</label>
      <textarea id="post-content" name="post-content"></textarea>
    </div>
    <button type="submit" class="btn submit-btn">Add</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>

