<article class= "post">
    <div class="title">
        <h2>{{post.title}}</h2>
        <p>{{post.content}}</p>
    </div>
</article>


{{#if loggedIn}}
<form class ="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        <button type="submit">add comment </button>
    </div>
</form>

{{/if}}


{{#if loggedIn}}
{{> comment post.comments}}
<script src="/javascript/comment.js"></script>
{{/if}}